@keyframes promotion {
    from {
        content: url(../Images/Promos/promo1.png);
    }

    33.333333% {
        content: url(../Images/Promos/promo2.png);
    }
	
	66.666666% {
		content: url(../Images/Promos/promo3.png);
	}

    to {
        content: url(../Images/Promos/promo3.png);
    }
}

@keyframes roue1 {
    from {
        content: url(../Images/Roue/Voiture/roueV1.png);
    }

    25% {
        content: url(../Images/Roue/Voiture/roueV1.1.png);
    }
	
	50% {
		content: url(../Images/Roue/Voiture/roueV1.2.png);
	}
	
	75% {
		content: url(../Images/Roue/Voiture/roueV1.3.png);
	}

    to {
        content: url(../Images/Roue/Voiture/roueV1.2.png);
    }
}