h2{
	font-size: 3vw;
}

h4,p{
	margin-left: 10px;
}

article p {
	margin-bottom: 20px;
}

article{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

article section{
	border: none;
	align-self: flex-start;
}

#produit{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

#produit > img{
	max-width: 300px;
	max-height: 300px;
	width: 30vw;
	height: 30vw;
	animation: roue1 5s steps(1, end) infinite;
}

#produit > img:hover{
	animation-play-state: paused;
}

#produit h2{
	border-bottom: 1px solid lightgrey;
}

article form{
	align-self: center;
}

button{
	width: 200px;
	height: 75px;
	background: cadetblue;
	font-size: 1.5em;
	align-self: center;
	border:none;
}

nav{
	width: 99%;
	background-color: #EEE;
	padding-top: 2px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav ul{
	margin: 0px;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

nav li{
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
}

nav li a{
	color: black;
	text-align: center;
}

#info nav li:first-of-type{
	background-color: #555;
}

#info nav li:first-of-type a{
	color: white;
}

#description nav li:nth-of-type(2){
	background-color: #555;
}

#description nav li:nth-of-type(2) a{
	color: white;
}

#commentaire nav li:last-of-type{
	background-color: #555;
}

#commentaire nav li:last-of-type a{
	color: white;
}

article > section {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 98%
}

video {
	align-self: center;
	max-width: 90%;
	width: 90vw;
}

video + * {
	margin-top: 10px;
}

#commentaire form{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: 20px;
	margin-bottom: 10px;
}

#commentaire section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20%;
}

#commentaire form button{
	margin: 0px 10%;
	min-height: 50px;
	width: 80%;
	font-size: 1.25em;
}

#commentaire form p{
	margin: 0px 10px 5px;
}

#commentaire form textarea{
	max-width: 500px;
	width: 70%;
}

@media (max-width : 750px){
	#produit form{
		max-width: 150px;
		max-height: 75px;
		width: 25vw;
		height: 10vw;
	}
	
	#produit button{
		width: 100%;
		height: 100%;
		font-size: 2vw;
	}
	
	#commentaire form textarea{
		font-size: 2vw;
	}
	
	#commentaire form button{
		min-height: 25px;
		height: 10vw;
		font-size: 3vw
	}
}