article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article > form{
	width: 100%;
}

article section{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid lightgrey;
	margin: 10px;
}

article > section:first-child{
	border:none;
}

h2{
	align-self: flex-start;
}

article > form section p{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 10px;
	font-size: 1.25em;
	width: 400px;
}

article > form section p input, article > form section p select{
	width: 50%;
	margin-left: 5px;
}

#Etape1 p:nth-child(2) input{
	width: 24%;
	margin-left: 1%;
}

#livraison{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#livraison label{
	width: 100%;
}

#livraison input{
	width: auto;
}

button{
	width: 150px;
	height: 75px;
	background: cadetblue;
	font-size: 1.5em;
	align-self: center;
	border:none;
}

@media (max-width : 450px) {
	h2{
		align-self: center;
	}
	
	article > form section{
		align-items: stretch;
		padding-right: 5%;
	}
	
	article > form section p{
		width: auto;
	}
	
	#livraison{
		width: auto;
		align-self: flex-end;
	}
}

@media (max-width : 400px){
	article > form section p{
		font-size: 4vw;
		vertical-align: middle;
	}
}