@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
	background-color: whitesmoke;
	min-height: 100vh;
}

body{
	max-width: 100em;
	min-width: 60em;
	min-height: 100vh;
	margin: 0px auto;
	background-color: white;
	box-shadow: 0px 1px 5px #aaa;
	display: flex;
	flex-direction: column;
}

h1{
	font-size: 5em;
	font-family: Impact, Comic Sans MS, Arial;
	margin: 0px;
}

h2{
	font-size: 3em;
	font-family: Comic Sans MS, Arial;
	margin: 0px;
}

h3{
	font-size: 2em;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
}

h4{
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	font-size: 1.25em;
}

.noWarning{
	display: none;
}

p{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', Comic Sans MS, Arial;
}

/* header */

header img{
	height: 70px;
	margin: 0px;
	padding: 0px;
}

header > img{
	display: none;
}

header{
	margin: 0px;
	padding: 10px 0px;
	display: flex;
	flex-direction: column;
	align-items:center;
	background-color: cadetblue;
}

#titre{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
	width: 98%;
}

#client{
	height: 50px;
}

#client img{
	height:100%;
}

#compte , #accueil{
	display: none;
}

/* fin header */
/* footer */

footer{
	margin: 0px;
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: cadetblue;
}

footer img{
	width: 50px;
}

footer h4{
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

#contact{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#contact a{
	color: white;
	text-decoration: none;
}

/* fin footer */
/* article */

article{
	flex: auto;
}

article > section{
	border-top: 1px solid lightgrey;
	margin: 10px;
}

article ul{
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

article li{
	flex: auto;
	display: flex;
	flex-direction: row;
	padding: 0px 5px;
	border-left: 1px solid lightgrey;
}

article li:first-child{
	border : none;
}

article li a{
	text-decoration: none;
	color: #0eb0c3;
}

/* fin article */

.description{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
}

.marque:before{
	content: "de "
}

.marque{
	font-size: 0.75em;
	margin: 0px;
	margin-bottom: 5px;
}

.taille:before{
	content: "Taille: ";
}

.taille{
	margin: 0px;
}

.taille:after{
	content: " pouces";
}

.prix{
	font-size: 1.5em;
	font-family: Comic Sans MS, Arial;
	margin: 0px;
	margin-top: 10px;
	margin-left: 10px;
	color: #cc0000;
	font-weight: bolder;
}

.prix:after{
	content: " €";
}

.indisponible::after{
	
	color: red;
	content: "Momentanement indisponible";
}

.suite {
	align-self: center;
	width: 150px;
	height: 75px;
}

.suite button{
	width: 100%;
	height: 100%;
	background: cadetblue;
	font-size: 1.5em;
	border:none;
}

button:hover{
	cursor:pointer;
}

@media (max-width : 1100px) {
	body{
		min-width: 1px;
	}
	#titre > a img{
		display: none;
	}
	
	header > img{
		display: block;
		width: 250px;
		height: auto;
		margin-bottom: 5px;
	}
	
	#accueil{
		display: inline;
	}
}

@media (max-width : 750px){
	#titre{
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		
	}
	
	#titre *:nth-child(2){
		align-self: center;
	}
	
	#client{
		width: auto;
		height: auto;
	}
	
	#client img{
		width: 5vw;
		height: auto;
	}
	
	h1{
		font-size: 10vw;
	}

	h2{
		font-size: 6vw;
	}

	h3{
		font-size: 3.5vw;
	}

	h4{
		font-size: 2.5vw;
	}
	
	p,a{
		font-size: 2vw;
	}
	
	.prix , .suite button{
		font-size: 3vw;
	}
	
	.suite{
		max-width: 150px;
		max-height: 75px;
		width: 30vw;
		height: 15vw;
	}
}

@media (max-width : 450px) {
	footer{
		flex-direction: column;
		align-items: center;
	}
	
	footer h4{
		display: none;
	}
	
	#reseausoc img{
		width: 7vw;
		height: auto;
	}
	
	#contact{
		align-items: center;
	}
}