/* zone de recherche */
header form{
	height: 50px;
	width: 500px;
	margin: 0px;
	padding: 2px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

header form button{
	background-color: white;
	height: 50px;
	width: 50px;
	border: none;
	margin: 0px;
	padding: 0px;
}

#titre form button img{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
}

header form input{
	width: 90%;
	height: 100%;
	font-size: 2em;
	margin: 0px;
	padding: 0px;
	border: none;
}

/* fin zone de recherche */

#promotion{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

#promotion img{
	box-shadow: 0px 1px 5px #aaa;
	margin: 5px;
}

#img1{
	animation: promotion 9s steps(1, end) infinite;
	animation-delay: -6s;
	background-size: cover;
	width: 20%;
	
}

#img2{
	animation: promotion 9s steps(1, end) infinite;
	animation-delay: -3s;
	background-size: cover;
	width: 30%;
}

#img3{
	animation: promotion 9s steps(1, end) infinite;
	background-size: cover;
	width: 20%;
}

#promotion:hover img{
	animation-play-state: paused;
}

#bienvenue{
	background: #ddd;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

#bienvenue h2{
	margin-bottom: 20px;
}

#presentation{
	margin: 50px 0px; 
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	width: 75%;
}

#presentation section{
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#presentation img{
	width: 50px;
	vertical-align: middle;
}

#presentation p{
	padding-left: 30px;
}

article li h3 a:visited{
	color: #0eb0c3;
}

article li h3 a:hover{
	color: #029090;
	cursor: pointer;
}

article li a img:hover{
	background: lightgrey;
	cursor: pointer;
}

article li {
	align-items: center;
}

article li img{
	width: 10vw;
	height:auto;
}

article section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
}

article h3 {
	color: #0eb0c3;
}

#bienvenue h3{
	color: black;
}

@media (max-width : 1500px){
	
	article h3{
		display: none;
	}
}

@media (max-width: 1100px){
	#promotion img{
		margin: 5px 0.5%;
	}
	
	#img1{
		animation: promotion 9s steps(1, end) infinite;
		animation-delay: -6s;
		background-size: cover;
		width: 28%;

	}

	#img2{
		animation: promotion 9s steps(1, end) infinite;
		animation-delay: -3s;
		background-size: cover;
		width: 40%;
	}

	#img3{
		animation: promotion 9s steps(1, end) infinite;
		background-size: cover;
		width: 28%;
	}
}

@media (max-width: 1000px){
	
	article > section > ul{
		flex-direction: column;
		align-items: stretch;
	}
	
	article > section > ul a{
		width: 40vw;
		height: 40vw;
	}
	
	article > section > ul img{
		width: 100%;
		height: 100%;
	}
	
	article > section > ul > li{
		border: none;
		border-top: 1px solid lightgrey;
		padding: 5px 0px;
		align-items: flex-start;
		height: auto;
	}
	
	.marque{
		font-size: 1.5vw;
	}
	
	.taille{
		font-size: 3vw;
	}
	
	.prix{
		font-size: 4vw;
	}
	
	.indisponible{
		font-size: 2.5vw;
	}
	
	.description{
		margin: 20px;
	}
}

@media (max-width : 750px){
	header form{
		height: 5vw;
	}
	
	header form input{
		width: 90%;
		font-size: 4vw;;
	}
	
	header form button{
		height: 5vw;
		width: auto;
	}
	
	#titre form button img{
		height: 100%;
		width: auto;
		min-width: 10px;
	}
	
	#presentation{
		margin: 10vw 0px;
	}
}

@media (max-width : 600px){
	header form{
		width: 95%;
		height: auto;
	}
	
	#presentation{
		width: 90%;
	}
	
	#presentation img{
		width: 10vw;
	}
}